<section class="col-xs-6 col-sm-4 sidebar-offcanvas">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <div class="sprite_icon sprite_icon-fb"></div>
            Link
        </a>
        <a href="#" class="list-group-item">
            <div class="sprite_icon sprite_icon-tw"></div>
            Link
        </a>
        <a href="#" class="list-group-item">
            <div class="sprite_icon sprite_icon-ig"></div>
            Link
        </a>
        <a href="#" class="list-group-item">
            <div class="sprite_icon sprite_icon-gp"></div>
            Link
        </a>
        <a href="#" class="list-group-item">
            <div class="sprite_icon sprite_icon-pn"></div>
            Link
        </a>
    </div>
</section>
