/* =====================================
 * SIDEBAR
 * ===================================== */

.sidebar-offcanvas {
  position: fixed;
  z-index: 1;
  top: $body-padding;
  width: $sidebar-size-animation;
  transition: $animation-target $animation-time $animation-fx;
  transform: translate3d(-100%, 0, 0);
  @include responsive(sm) {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: $sidebar-width;
    top: 0;
  }
}

.row-offcanvas {
  position: relative;
  transition: $animation-target $animation-time $animation-fx;
  transform: translate3d(0, 0, 0);
  .sidebar-offcanvas {
    transform: translate3d(-100%, 0, 0);
    @include responsive(sm) {
      transform: translate3d(0, 0, 0);
    }
  }
  &.active {
    transform: translate3d($sidebar-size-animation, 0, 0);
    @include responsive(sm) {
      transform: translate3d(0, 0, 0);
    }
    .sidebar-offcanvas {
      transform: translate3d(-100%, -70px, 0);
    }
  }
}

