/* =====================================
 * SIDEBAR
 * ===================================== */

.sidebar-offcanvas {
  .sprite_icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}

