/* =====================================
 * BODY
 * ===================================== */

$body-padding: 70px;

/* =====================================
 * SIDEBAR
 * ===================================== */

$sidebar-size-width: 80%;

/* =====================================
 * ANIMATION
 * ===================================== */

$animation-target: all;
$animation-time: .75s;
$animation-fx: ease;

