/* =====================================
 * BODY
 * ===================================== */

$body-padding: 70px;

/* =====================================
 * SIDEBAR
 * ===================================== */

$sidebar-size-animation: 80%;
$sidebar-width: 33.3%;

/* =====================================
 * ANIMATION
 * ===================================== */

$animation-target: all;
$animation-time: .75s;
$animation-fx: ease;

